name: CI

permissions:
  contents: read

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{github.workflow}}-${{github.head_ref || github.run_id}}
  cancel-in-progress: true

jobs:
  toolchain:
    name: Setup Rust toolchain
    runs-on: ubuntu-latest
    outputs:
      toolchain: ${{steps.set_toolchain.outputs.toolchain}}
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Output toolchain
        id: set_toolchain
        env:
          toolchain_toml: "rust-toolchain.toml"
        run: |
          toolchain=$(grep channel rust-toolchain.toml | sed -r 's/channel = "(.*)"/\1/')
          echo "toolchain=$toolchain" | tee -a "$GITHUB_OUTPUT"

  fmt-check:
    name: Check Code Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Install Rust
        uses: dtolnay/rust-toolchain@0f44b27771c32bda9f458f75a1e241b09791b331
        with:
          toolchain: nightly-2025-10-29
          components: rustfmt

      - name: Install just
        uses: taiki-e/install-action@6cc14f7f2f4b3129aff07a8b071d2d4f2733465d
        with:
          tool: just

      - name: Setup Rust cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1

      - name: just fmt-check
        run: |
          just fmt-check

  lint:
    runs-on: ubuntu-latest
    name: Lint Code
    needs: toolchain
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Install Rust
        uses: dtolnay/rust-toolchain@0f44b27771c32bda9f458f75a1e241b09791b331
        with:
          toolchain: ${{needs.toolchain.outputs.toolchain}}
          components: clippy

      - name: Install just
        uses: taiki-e/install-action@6cc14f7f2f4b3129aff07a8b071d2d4f2733465d
        with:
          tool: just

      - name: Setup Rust cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1

      - name: just lint
        run: |
          rustup override set ${{needs.toolchain.outputs.toolchain}}
          just lint

  test:
    runs-on: ubuntu-latest
    name: Run Tests
    needs: toolchain
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Install Rust
        uses: dtolnay/rust-toolchain@0f44b27771c32bda9f458f75a1e241b09791b331
        with:
          toolchain: ${{needs.toolchain.outputs.toolchain}}

      - name: Install just
        uses: taiki-e/install-action@6cc14f7f2f4b3129aff07a8b071d2d4f2733465d
        with:
          tool: just

      - name: Setup Rust cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1

      - name: just test
        run: |
          rustup override set ${{needs.toolchain.outputs.toolchain}}
          just test

  build-and-push:
    name: Build and push Docker image
    needs: [toolchain, fmt-check, lint, test]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Determine version
        run: |
          version=$(grep '^version.*=' Cargo.toml | sed -E 's/version.*=.*"(.*)"/\1/')
          echo "version=$version" | tee -a "$GITHUB_ENV"

      - name: Login to DockerHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Setup Docker Metadata
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893
        env:
          DOCKER_METADATA_SHORT_SHA_LENGTH: 8
        with:
          images: |
            hseeberger/hello-rs
          tags: |
            type=semver,pattern={{version}}
            type=sha,prefix=${{ env.version }}-,format=short,enable=${{ github.ref_type != 'tag' }}
          labels: |
            org.opencontainers.image.source=https://github.com/hseeberger/hello-rs
            org.opencontainers.image.title=hello-rs
            org.opencontainers.image.description="Simple dockerized Rust/axum based HTTP server for demo purposes"

      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130
        with:
          image: tonistiigi/binfmt:qemu-v8.1.5

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435

      - name: Build and push Docker Image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        env:
          IS_RELEASE: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') || startsWith(github.ref, 'refs/tags/v') }}
        with:
          context: .
          file: ./Dockerfile
          push: ${{ env.IS_RELEASE }}
          build-args: |
            RUST_VERSION=${{ needs.toolchain.outputs.toolchain }}
            PROFILE=${{ env.IS_RELEASE && 'release' || 'dev' }}
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: |
            type=registry,ref=hseeberger/hello-rs:buildcache
            type=registry,ref=hseeberger/hello-rs:buildcache-${{ env.IS_RELEASE && 'release' || 'dev' }}
          cache-to: |
            type=registry,ref=hseeberger/hello-rs:buildcache,mode=min
            type=registry,ref=hseeberger/hello-rs:buildcache-${{ env.IS_RELEASE && 'release' || 'dev' }},mode=max
